@charset "utf-8";

/* history 开始 */
.history {
  padding: 10px;
  font-size: 12px;
  color: #666;
}
.history_title span{
  height: 30px;
  line-height: 30px;
}
.history_content ul{
  border: 1px dashed red;
}
.history_content li {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px dashed red;
}
.history_content li:last-child {
  border-bottom: none;
}
.history_content li i {
  height: 30px;
  line-height: 30px;
}
/* history 结束 */